<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión Clínica</title>
    <link rel="icon" href="{% static 'media/logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <header>
        <div class="header-green"></div>
        <div class="header-gold"></div>
        <img class="uaemex-logo" src="{% static 'media/logo.png' %}" alt="Logo" />
    </header>

    <div class="central-container">
        <main>
            <h1>Inicio de sesión del personal de la clínica</h1>
            <form action="{% url 'login' %}" method="post">
                <img class="hospital-logo" src="{% static 'media/logo2.png' %}" alt="Logo" />
                {% csrf_token %}
                <div class="form-group">
                    <!-- {{ login_form.email.label }} -->
                    Correo electrónico
                    {{ login_form.email }}
                </div>
                <div class="form-group">
                    <!-- {{ login_form.password.label }} -->
                    Contraseña
                    {{ login_form.password }}
                </div>
                <label>
                    <input type="checkbox" name="aceptar" value="si" required="true"> He leído y acepto la 
                    <a href="">política de privacidad</a>
                </label>
                <label for="">¿Aún no tienes cuenta? <a href="">Regístrate</a></label>               
                <button type="submit" id="save-button" title="Iniciar sesión">Iniciar Sesión</button>
            </form>
        </main>
    </div>

    <footer>
        <div class="footer-gold"></div>
        <div class="footer-green"></div>
    </footer>
    <script src="{% static 'scripts/consultation.js' %}"></script>
</body>
</html>
